@charset "utf-8";
/* CSS Document */


.nav-bg {
	background:white;
}

.nav-link{font-size: 8px;
	 color: dimgray;
}

.nav-link:hover{text-decoration: underline}

.container{margin-left:90px;
margin-right: 0px;
margin-top: 5px;
}

.card-body{background-color: 24316E;}

.card-title{margin-left: 250px;}

.btn{font-size: 8px;
	 color: dimgray;}
