@charset "UTF-8";
/* CSS Document */
nav {
	background:#4A4A4A;
	border-bottom:thick;
	border-bottom-color: darkgrey}
nav ul {

  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  color: #fff;
  display: block;

  padding: 15px 14px;
  transition: 0.3s linear;
}

nav ul li:hover {background: #7D7C7C; color: aliceblue; }

nav ul li ul {

  display: none;
  position: absolute;
  width: 250px;
}

nav ul li ul li {
  border-top: 1px solid #444;
  display: block;
}

nav ul li ul li:first-child { border-top: none; }

nav ul li ul li a {
  background: #373737;
  display: block;
  padding: 10px 14px;
}

nav ul li ul li a:hover { background: #B2B2B2; }

nav .fa.fa-angle-down { margin-left: 6px; }




.overlay {
	opacity:0;
	background:#515050;   !important
	color:white;
	transition: all .6s;
}
.material-icons:hover .overlay{
	opacity:0.8;
}

